
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea
/backend/__pycache__
/backend/api_keys.json
/backend/test
/backend/models
/backend/path.py
/documents
/models-training

