
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea
/.venv
/archives
**/__pycache__
/backend/api_keys.json
/backend/test
/backend/models
/documents
/models-training
