
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/.idea
/backend/api_keys.json
/backend/test
/backend/models
/backend/path.py
/Project_Abstract.docx
/2370156_Final_Project_Abstract_MCA.pptx
/Sentiment Analysis
/Fake News Detection

